<nav>
  <div class="container">
    <a class="logo" routerLink="/">
      <h1>SVART</h1>
    </a>

    <ul class="nav__items">
      <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="#" routerLinkActive="active" hidden>Contact</a></li>
      <li><a routerLink="#" routerLinkActive="active" hidden>About Us</a></li>
    </ul>

    <ul class="button__items">
      <li><a href="https://github.com/blackscriptt">Github</a></li>
    </ul>

  </div>
</nav>
