<table class="table table-dark table-striped rounded-3 overflow-hidden">
  <thead>
    <tr>
      <th class="text-center " colspan="3">Log List</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Message</th>
      <th><button type="button" class="btn-default text-danger" (click)="loggingService.clearLog()"><i class="fa-solid fa-trash"></i></button></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of loggingService.logs; let i = index">
      <td><span class="badge text-bg-light">{{ i + 1 }}</span></td>
      <td colspan="2">{{ item }}</td>

    </tr>
  </tbody>
</table>
